.home {
  display: flex;
}

.product-container {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.products {
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
}

.card img {
  width: 300px !important;
  height: 300px;
  align-self: center;
  object-fit: contain;
}
